
.fullscreen {
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

html, body {
  overflow: hidden;
  font-family: sans-serif;
  color: #2f2f2f;
}



/* Canvas */

.container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0px;
  background: #0B1C25;
}



button {
  position: absolute;
  bottom: 30px;
  right: 30px;
  z-index: 10;
  width: fit-content;
  height: fit-content;
  border-radius: 50px;
  display: flex;
  border: 1px solid #FFFFFF;
  cursor: pointer;
  background: inherit;
  padding: 10px;
}
